# flyctl launch added from .build/checkouts/Tiktoken/.gitignore
.build/checkouts/Tiktoken/**/.DS_Store
.build/checkouts/Tiktoken/.build
.build/checkouts/Tiktoken/Packages
.build/checkouts/Tiktoken/*.xcodeproj
.build/checkouts/Tiktoken/**/xcuserdata
.build/checkouts/Tiktoken/**/DerivedData
.build/checkouts/Tiktoken/**/.swiftpm
.build/checkouts/Tiktoken/**/.netrc

# flyctl launch added from .build/checkouts/async-http-client/.gitignore
.build/checkouts/async-http-client/**/.build
.build/checkouts/async-http-client/**/Package.resolved
.build/checkouts/async-http-client/**/*.xcodeproj
.build/checkouts/async-http-client/**/DerivedData
.build/checkouts/async-http-client/**/.DS_Store
.build/checkouts/async-http-client/**/.swiftpm
.build/checkouts/async-http-client/**/.SourceKitten

# flyctl launch added from .build/checkouts/async-kit/.gitignore
.build/checkouts/async-kit/**/.DS_Store
.build/checkouts/async-kit/.build
.build/checkouts/async-kit/Packages
.build/checkouts/async-kit/*.xcodeproj
.build/checkouts/async-kit/**/DerivedData
.build/checkouts/async-kit/**/Package.resolved
.build/checkouts/async-kit/**/.swiftpm


# flyctl launch added from .build/checkouts/console-kit/.gitignore
.build/checkouts/console-kit/**/.build
.build/checkouts/console-kit/**/Packages
.build/checkouts/console-kit/**/*.xcodeproj
.build/checkouts/console-kit/**/Package.pins
.build/checkouts/console-kit/**/Package.resolved
.build/checkouts/console-kit/**/.DS_Store
.build/checkouts/console-kit/**/DerivedData
.build/checkouts/console-kit/**/.swiftpm
.build/checkouts/console-kit/**/Tests/LinuxMain.swift
.build/checkouts/console-kit/**/.vscode

# flyctl launch added from .build/checkouts/fluent/.gitignore
.build/checkouts/fluent/**/Packages
.build/checkouts/fluent/**/.build
.build/checkouts/fluent/**/.DS_Store
.build/checkouts/fluent/**/*.xcodeproj
.build/checkouts/fluent/**/Package.pins
.build/checkouts/fluent/**/Package.resolved
.build/checkouts/fluent/**/DerivedData
.build/checkouts/fluent/**/.swiftpm


# flyctl launch added from .build/checkouts/fluent-kit/.gitignore
.build/checkouts/fluent-kit/**/Packages
.build/checkouts/fluent-kit/**/.build
.build/checkouts/fluent-kit/**/.DS_Store
.build/checkouts/fluent-kit/**/*.xcodeproj
.build/checkouts/fluent-kit/**/Package.pins
.build/checkouts/fluent-kit/**/Package.resolved
.build/checkouts/fluent-kit/**/DerivedData
.build/checkouts/fluent-kit/**/.swiftpm
.build/checkouts/fluent-kit/**/Tests/LinuxMain.swift
.build/checkouts/fluent-kit/**/.vscode


# flyctl launch added from .build/checkouts/fluent-postgres-driver/.gitignore
.build/checkouts/fluent-postgres-driver/**/.DS_Store
.build/checkouts/fluent-postgres-driver/.build
.build/checkouts/fluent-postgres-driver/Packages
.build/checkouts/fluent-postgres-driver/*.xcodeproj
.build/checkouts/fluent-postgres-driver/**/Package.resolved
.build/checkouts/fluent-postgres-driver/**/DerivedData
.build/checkouts/fluent-postgres-driver/**/.swiftpm
.build/checkouts/fluent-postgres-driver/**/Tests/LinuxMain.swift


# flyctl launch added from .build/checkouts/multipart-kit/.gitignore
.build/checkouts/multipart-kit/**/Packages
.build/checkouts/multipart-kit/**/.build
.build/checkouts/multipart-kit/**/.DS_Store
.build/checkouts/multipart-kit/**/*.xcodeproj
.build/checkouts/multipart-kit/**/Package.pins
.build/checkouts/multipart-kit/**/Package.resolved
.build/checkouts/multipart-kit/**/DerivedData
.build/checkouts/multipart-kit/**/.swiftpm

# flyctl launch added from .build/checkouts/postgres-kit/.gitignore
.build/checkouts/postgres-kit/**/.DS_Store
.build/checkouts/postgres-kit/.build
.build/checkouts/postgres-kit/Packages
.build/checkouts/postgres-kit/*.xcodeproj
.build/checkouts/postgres-kit/**/Package.resolved
.build/checkouts/postgres-kit/**/DerivedData
.build/checkouts/postgres-kit/**/.swiftpm
.build/checkouts/postgres-kit/**/Tests/LinuxMain.swift

# flyctl launch added from .build/checkouts/postgres-nio/.gitignore
.build/checkouts/postgres-nio/**/.DS_Store
.build/checkouts/postgres-nio/.build
.build/checkouts/postgres-nio/Packages
.build/checkouts/postgres-nio/*.xcodeproj
.build/checkouts/postgres-nio/**/DerivedData
.build/checkouts/postgres-nio/**/Package.resolved
.build/checkouts/postgres-nio/**/.swiftpm
.build/checkouts/postgres-nio/**/Tests/LinuxMain.swift

# flyctl launch added from .build/checkouts/routing-kit/.gitignore
.build/checkouts/routing-kit/**/Packages
.build/checkouts/routing-kit/**/.build
.build/checkouts/routing-kit/**/.DS_Store
.build/checkouts/routing-kit/**/*.xcodeproj
.build/checkouts/routing-kit/**/Package.pins
.build/checkouts/routing-kit/**/Package.resolved
.build/checkouts/routing-kit/**/DerivedData
.build/checkouts/routing-kit/**/.swift-version
.build/checkouts/routing-kit/**/.swiftpm


# flyctl launch added from .build/checkouts/sql-kit/.gitignore
.build/checkouts/sql-kit/**/.DS_Store
.build/checkouts/sql-kit/.build
.build/checkouts/sql-kit/Packages
.build/checkouts/sql-kit/*.xcodeproj
.build/checkouts/sql-kit/**/Package.resolved
.build/checkouts/sql-kit/**/DerivedData
.build/checkouts/sql-kit/**/.swiftpm
.build/checkouts/sql-kit/**/Tests/LinuxMain.swift

# flyctl launch added from .build/checkouts/swift-algorithms/.gitignore
.build/checkouts/swift-algorithms/**/.DS_Store
.build/checkouts/swift-algorithms/.build
.build/checkouts/swift-algorithms/Packages
.build/checkouts/swift-algorithms/*.xcodeproj
.build/checkouts/swift-algorithms/**/xcuserdata
.build/checkouts/swift-algorithms/.swiftpm
.build/checkouts/swift-algorithms/**/Package.resolved

# flyctl launch added from .build/checkouts/swift-atomics/.gitignore
.build/checkouts/swift-atomics/**/__pycache__
.build/checkouts/swift-atomics/**/*.pyc
.build/checkouts/swift-atomics/**/.DS_Store
.build/checkouts/swift-atomics/**/.*.sw?
.build/checkouts/swift-atomics/.build
.build/checkouts/swift-atomics/.swiftpm
.build/checkouts/swift-atomics/**/xcuserdata
.build/checkouts/swift-atomics/*.xcodeproj
.build/checkouts/swift-atomics/**/.docc-build

# flyctl launch added from .build/checkouts/swift-collections/.gitignore
.build/checkouts/swift-collections/**/.DS_Store
.build/checkouts/swift-collections/.swiftpm
.build/checkouts/swift-collections/.build
.build/checkouts/swift-collections/Packages
.build/checkouts/swift-collections/*.xcodeproj
.build/checkouts/swift-collections/**/xcuserdata
.build/checkouts/swift-collections/**/.*.sw?
.build/checkouts/swift-collections/Benchmarks/.swiftpm
.build/checkouts/swift-collections/Benchmarks/.build
.build/checkouts/swift-collections/**/.docc-build

# flyctl launch added from .build/checkouts/swift-crypto/.gitignore
.build/checkouts/swift-crypto/**/.DS_Store
.build/checkouts/swift-crypto/.build
.build/checkouts/swift-crypto/out
.build/checkouts/swift-crypto/Packages
.build/checkouts/swift-crypto/*.xcodeproj
.build/checkouts/swift-crypto/**/Package.pins
.build/checkouts/swift-crypto/**/*.pem
.build/checkouts/swift-crypto/docs/1.*
.build/checkouts/swift-crypto/docs/2.*
.build/checkouts/swift-crypto/**/Package.resolved
.build/checkouts/swift-crypto/**/.podspecs
.build/checkouts/swift-crypto/**/DerivedData
.build/checkouts/swift-crypto/**/.swiftpm
.build/checkouts/swift-crypto/**/**/gyb.pyc

.build/checkouts/swift-crypto/**/.*.sw[nop]


# flyctl launch added from .build/checkouts/swift-log/.gitignore
.build/checkouts/swift-log/**/.DS_Store
.build/checkouts/swift-log/**/Package.resolved
.build/checkouts/swift-log/.build
.build/checkouts/swift-log/Packages
.build/checkouts/swift-log/*.xcodeproj
.build/checkouts/swift-log/**/.xcode
.build/checkouts/swift-log/**/DerivedData
.build/checkouts/swift-log/**/.swiftpm

.build/checkouts/swift-log/**/.SourceKitten
.build/checkouts/swift-log/**/docs

.build/checkouts/swift-log/**/.*.sw?

# flyctl launch added from .build/checkouts/swift-metrics/.gitignore
.build/checkouts/swift-metrics/**/.DS_Store
.build/checkouts/swift-metrics/.build
.build/checkouts/swift-metrics/Packages
.build/checkouts/swift-metrics/*.xcodeproj
.build/checkouts/swift-metrics/**/.xcode
.build/checkouts/swift-metrics/**/.SourceKitten
.build/checkouts/swift-metrics/**/*.orig
.build/checkouts/swift-metrics/**/.swiftpm
.build/checkouts/swift-metrics/**/Package.resolved

# flyctl launch added from .build/checkouts/swift-nio/.gitignore
.build/checkouts/swift-nio/**/.DS_Store
.build/checkouts/swift-nio/.build
.build/checkouts/swift-nio/Packages
.build/checkouts/swift-nio/*.xcodeproj
.build/checkouts/swift-nio/**/Package.pins
.build/checkouts/swift-nio/**/*.pem
.build/checkouts/swift-nio/docs/1.*
.build/checkouts/swift-nio/docs/2.*
.build/checkouts/swift-nio/**/Package.resolved
.build/checkouts/swift-nio/**/.podspecs
.build/checkouts/swift-nio/**/DerivedData
.build/checkouts/swift-nio/**/.swiftpm
.build/checkouts/swift-nio/**/.*.sw?

# flyctl launch added from .build/checkouts/swift-nio-extras/.gitignore
.build/checkouts/swift-nio-extras/**/.DS_Store
.build/checkouts/swift-nio-extras/.build
.build/checkouts/swift-nio-extras/Packages
.build/checkouts/swift-nio-extras/*.xcodeproj
.build/checkouts/swift-nio-extras/**/Package.pins
.build/checkouts/swift-nio-extras/**/*.pem
.build/checkouts/swift-nio-extras/docs
.build/checkouts/swift-nio-extras/**/Package.resolved
.build/checkouts/swift-nio-extras/**/.swiftpm

# flyctl launch added from .build/checkouts/swift-nio-http2/.gitignore
.build/checkouts/swift-nio-http2/**/.DS_Store
.build/checkouts/swift-nio-http2/**/.build
.build/checkouts/swift-nio-http2/Packages
.build/checkouts/swift-nio-http2/*.xcodeproj
.build/checkouts/swift-nio-http2/**/Package.pins
.build/checkouts/swift-nio-http2/**/Package.resolved
.build/checkouts/swift-nio-http2/**/*.pem
.build/checkouts/swift-nio-http2/**/DerivedData
.build/checkouts/swift-nio-http2/**/.swiftpm
.build/checkouts/swift-nio-http2/**/Tests/hpack-test-case
.build/checkouts/swift-nio-http2/**/cachegrind.out.*

# flyctl launch added from .build/checkouts/swift-nio-ssl/.gitignore
.build/checkouts/swift-nio-ssl/**/.DS_Store
.build/checkouts/swift-nio-ssl/.build
.build/checkouts/swift-nio-ssl/Packages
.build/checkouts/swift-nio-ssl/*.xcodeproj
.build/checkouts/swift-nio-ssl/**/Package.pins
.build/checkouts/swift-nio-ssl/**/Package.resolved
.build/checkouts/swift-nio-ssl/**/*.pem
.build/checkouts/swift-nio-ssl/docs
.build/checkouts/swift-nio-ssl/**/DerivedData
.build/checkouts/swift-nio-ssl/.idea
.build/checkouts/swift-nio-ssl/**/.swiftpm

# flyctl launch added from .build/checkouts/swift-nio-transport-services/.gitignore
.build/checkouts/swift-nio-transport-services/**/.DS_Store
.build/checkouts/swift-nio-transport-services/.build
.build/checkouts/swift-nio-transport-services/Packages
.build/checkouts/swift-nio-transport-services/*.xcodeproj
.build/checkouts/swift-nio-transport-services/**/Package.pins
.build/checkouts/swift-nio-transport-services/**/Package.resolved
.build/checkouts/swift-nio-transport-services/**/*.pem
.build/checkouts/swift-nio-transport-services/**/*.xcconfig
.build/checkouts/swift-nio-transport-services/**/.swiftpm

# flyctl launch added from .build/checkouts/swift-numerics/.gitignore
.build/checkouts/swift-numerics/**/.DS_Store
.build/checkouts/swift-numerics/*XCTestManifests.swift
.build/checkouts/swift-numerics/.build
.build/checkouts/swift-numerics/Packages
.build/checkouts/swift-numerics/*.xcodeproj
.build/checkouts/swift-numerics/.swiftpm
.build/checkouts/swift-numerics/**/.*.sw?

# flyctl launch added from .build/checkouts/vapor/.gitignore
.build/checkouts/vapor/**/Packages
.build/checkouts/vapor/**/.build
.build/checkouts/vapor/**/.DS_Store
.build/checkouts/vapor/**/*.xcodeproj
.build/checkouts/vapor/**/DerivedData
.build/checkouts/vapor/**/Package.resolved
.build/checkouts/vapor/**/.swiftpm
.build/checkouts/vapor/**/Tests/LinuxMain.swift
.build/checkouts/vapor/**/.vscode

# API Docs Generation
.build/checkouts/vapor/**/generate-package-api-docs.swift
.build/checkouts/vapor/**/public
.build/checkouts/vapor/**/theme-settings.json

# flyctl launch added from .build/checkouts/websocket-kit/.gitignore
.build/checkouts/websocket-kit/**/.DS_Store
.build/checkouts/websocket-kit/.build
.build/checkouts/websocket-kit/Packages
.build/checkouts/websocket-kit/*.xcodeproj
.build/checkouts/websocket-kit/**/DerivedData
.build/checkouts/websocket-kit/**/.swiftpm
.build/checkouts/websocket-kit/**/Package.resolved
.build/checkouts/websocket-kit/**/.devcontainer

# flyctl launch added from .gitignore
**/Packages
**/.build
**/xcuserdata
**/*.xcodeproj
**/DerivedData
**/.DS_Store
**/db.sqlite
**/.swiftpm
fly.toml
