# fly.toml app configuration file generated for ai-sandbox on 2023-09-29T09:54:13-04:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "ai-sandbox"
primary_region = "iad"

[build]

[deploy]
  release_command = "migrate -y"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]
